# ----------------------

# Python basics

# ----------------------

**pycache**/
*.pyc
*.pyo
*.pyd
*.pyc.*
*.pkl

# ----------------------

# Virtual environments

# ----------------------

env/
venv/
.venv/
dl/
conda-meta/

# ----------------------

# VS Code / IDE

# ----------------------

.vscode/
.idea/

# ----------------------

# OS files

# ----------------------

.DS_Store
Thumbs.db

# ----------------------

# Logs

# ----------------------

*.log

# ----------------------

# YOLO / Training outputs

# ----------------------

runs/
outputs/
output/
*.jpg
*.png

# ----------------------

# Model weights (IMPORTANT)

# ----------------------

*.pt
*.onnx

# ----------------------

# Dataset (optional but recommended)

# ----------------------

datasets/
data/
*.zip

# ----------------------

# Misc

# ----------------------

*.csv
*.mp4
*.avi
